################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.exe
*.pdb
/ClickTheGradientCenter/bin
/ClickTheGradientCenter/obj
*.cache
/ClickTheButton/obj/Debug
/FormatTheButton/obj/Debug
/DumpContentPropertyAttributes/obj/Debug
/ComputerDatingWizard/obj/Debug
/ChooseFont/obj/Debug
/BindLabelToScrollBar/obj/Debug
/CompileXamlWindow/obj/Debug
/DrawCircles/obj/Debug
/CustomElementBinding/obj/Debug
/ExamineKeystrokes/obj/Debug
/FrameNavigationDemo/obj/Debug
/GradientBrushResourceDemo/obj/Debug
/NavigationDemo/obj/Debug
/PrintBanner/obj/Debug
/PrintBunchaButton/obj/Debug
/PrintWithMargins/obj/Debug
/RoutedEventDemo/obj/Debug
/ShadowTheStylus/obj/Debug
/UseCustomClass/obj/Debug
/UseCustomXamlClass/obj/Debug
/WhatSize/obj/Debug
/YellowPad/obj/Debug
/XamlCruncher/obj/Debug
/ColorScroll/obj/Debug
/DecimalScrollBar/obj/Debug
/DigitalClock/obj/Debug
/FormattedDigitalClock/obj/Debug
/DumpControlTemplate/obj/Debug
/ContentTemplateDemo/obj/Debug
/ColorListBoxTemplate/obj/Debug
/CreateDatePicker/obj/Debug
