################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.exe
*.pdb
/ClickTheGradientCenter/bin
/ClickTheGradientCenter/obj
*.cache
/ClickTheButton/obj/Debug
/FormatTheButton/obj/Debug
/ChooseFont/obj/Debug
/CompileXamlWindow/obj/Debug
/DrawCircles/obj/Debug
/ComputerDatingWizard/obj/Debug
/DumpContentPropertyAttributes/obj/Debug
/FrameNavigationDemo/obj/Debug
/ExamineKeystrokes/obj/Debug
/GradientBrushResourceDemo/obj/Debug
/NavigationDemo/obj/Debug
/PrintBanner/obj/Debug
/PrintBunchaButton/obj/Debug
/PrintWithMargins/obj/Debug
/RoutedEventDemo/obj/Debug
/ShadowTheStylus/obj/Debug
/UseCustomClass/obj/Debug
/UseCustomXamlClass/obj/Debug
/XamlCruncher/obj/Debug
/YellowPad/obj/Debug
